@import url("https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap");

body {
    font-family: "Lato", sans-serif;
    font-style: normal;
}

/* ===========hero section css start============ */
.bg-img {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
        url("../img/hero.jpg");
    background-size: cover;
}
.main-section{
    padding: 30px 0px;
}
.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.address {
    display: flex;
    justify-content: center;
}

.date {
    display: flex;
}
span i {
    color: #ffffff;
    width: 35px;
    height: 35px;
    background: linear-gradient(45deg, #ff5531, #ffc371);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-right: 10px;
    text-indent: 0;
    padding: 9px;
}
.address_name {
    text-align: center;
    margin-bottom: 25px;
    font-weight: 900;
    color: #e54220;
    font-size: 24px;
}
.address span {
    font-weight: 600;
    color: #041a57;
}
.content h1 {
    color: #041a57;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 43px;
    margin-bottom: 35px;
}
.content .text-red {
    color: #e54220;
}

.tech_newevent h2 {
    color: #041a57;
    font-size: 24px;
    line-height: 34px;
    font-weight: 800;
}
.shedule_btn button {
    font-size: 18px;
    margin-top: 30px;
    background: linear-gradient(45deg, #ff5531, #ffc371);
    color: #fff;
    border: 2px solid #e54220;
    padding: 8px 40px;
    border-radius: 20px;
}
.shedule_btn button:hover {
    background: linear-gradient(45deg, #fff, #fff);
    color: #e54220;
    border: 2px solid #e54220 !important;
}
/* ===========hero section css end============ */

/* ===========infosoft section css start============ */
.infosoft_section{
    background: #f5f1eb;
    padding: 100px;
}

.infosoft_section h3 {
    font-weight: bold;
    line-height: 1.3;
    color: #041a57;
    font-size: 26px;
}
.infosoft_section p{
    line-height: 1.8;
    color: #666;
}
.infosoft_img img{
    height: 370px;
    border-radius: 21px;
    object-fit: cover;
}
.info-content{
    padding: 50px 0px 30px 30px;
}
/* ===========infosoft section css end============ */

/* ===========about section css start============ */
.about{
    /* background: #f5f1eb; */
    padding: 50px;
}
.about h3{
    text-align: center;
    text-transform: uppercase;
    color: #041a57;
    font-weight: bold;
}
.about_smry{
    padding: 20px;
}
.about_smry p{
    color: #666;
    line-height: 1.8;
}
/* ===========about section css end============ */