{% extends 'base.html' %}
{% load static %}
{% block title %}{{blog.blog_title}}{% endblock title %}
{% block blog_single %}
<div class="img-fluid bg-gradient-dark"
  style="width: 100%; height: 25vh; background-position: center; background-repeat: no-repeat; background-size: cover; background-image: url('/static/images/blog-1.jpg');">
</div>

<section class="ftco-section ftco-degree-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 ftco-animate">
        {% if blog %}
        <p>
          <img src="{{ blog.blog_image.url }}" alt="" width="100%" class="img-fluid">
        </p>
        <h2 class="mb-3 font-weight-bolder ">{{blog.blog_title}}</h2>
        <p>{{blog.blog_para|safe}}</p>
        <p>
          {% endif %}
      </div>
      <div class="col-lg-4 mx-auto my-lg-0 my-sm-4 ftco-animate">
        <h3 class="text-lg-center">Our recent blogs</h3>
        {% for i in recentblogs %}
        <div class="card mb-3 ml-auto my-4 shadow" style="width: auto; min-height: auto;">
          <div class="row">
            <div class="col-4">
              <img src="{{i.blog_image.url}}" class="img-fluid rounded shadow d-block d-flex w-100 h-100" alt="...">
            </div>
            <div class="col-8">
              <div class="card-body">
                <p class="card-text"><small class="text-muted">{{i.blog_date}}</small></p>
                <a href="{% url 'blog' %}{{i.id}} ">
                  <h6 class="card-title ">{{i.blog_title|slice:":40"}} <span class="font-weight-light text-danger"
                      style="font-size: .7em;">&nbsp; (...more) </span></h6>
                </a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock blog_single %}