{% extends 'base.html' %}
{% load static %}
{% block title %}IT Outsourcing Company- Outscource Software Development{% endblock title %}
{% block companyactivation %}active{%endblock companyactivation %}
{% block index %}

<div class="hero-wrap">
	<div class="home-slider owl-carousel">
		<div class="slider-item" style="background-image:url(/static/images/1.jpg);">
			<div class="overlay"></div>
			<div class="container">
				<div class="row no-gutters slider-text align-items-center justify-content-center">
					<div class="col-md-8 ftco-animate">
						<div class="text w-100 text-center">
							<!-- <h1 class="mb-4">Infograins works with your team to fulfill your IT needs</h1> -->
						</div>
					</div>
					
				</div>
			</div>
		</div>

		<div class="slider-item" style="background-image:url(/static/images/banner1new.jpg);">
			<div class="overlay"></div>
			<div class="container">
				<div class="row no-gutters slider-text align-items-center justify-content-center">
					<div class="col-md-8 ftco-animate">
						<div class="text w-100 text-center">
							<!-- <h1 class="mb-4">Get Our BlockChain Services</h1> -->
						</div>
					</div>
				</div>
			</div>
		</div>




		<div class="slider-item" style="background-image:url(/static/images/banner22.jpg);">
			<div class="overlay"></div>
			<div class="container">
				<div class="row no-gutters slider-text align-items-center justify-content-center">
					<div class="col-md-8 ftco-animate">
						<div class="text w-100 text-center">
							<!-- <h1 class="mb-4">BlockChain With Infograins</h1> -->
						</div>
					</div>
				</div>
			</div>
		</div>




		<div class="slider-item" style="background-image:url(/static/images/banner23.jpg);">
			<div class="overlay"></div>
			<div class="container">
				<div class="row no-gutters slider-text align-items-center justify-content-center">
					<div class="col-md-8 ftco-animate">
						<div class="text w-100 text-center">
							<!-- <h1 class="mb-4">Python Django Development</h1> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="ftco-section mt-5 ftco-no-pt bg-light">
	<div class="container">
		<div class="row d-flex no-gutters">
			<div class="col-lg-6 col-md-12 col-sm-12 col-12 d-flex">
				<div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0"
					style="background-image:url(/static/images/blockchain1.png);">
				</div>
			</div>
			<div class="col-lg-6 col-md-12 col-sm-12 col-12 pl-md-5 py-md-1 py-sm-5">
				<div class="heading-section pl-md-4 pt-md-5">
					<span class="subheading text-warning">Boost Your Business Profile</span>
					<h2 class="mb-4">Infograins Software Solutions </h2>
				</div>
				<div class="services-2 w-100 d-flex">
					<div class="icon d-flex align-items-center justify-content-center bg-warning"><span
							class="flaticon-wealth"></span></div>
					<div class="text pl-4">
						<a href="/blockchain_service/1"><h4>Public Blockchain</h4></a>
						<p>A public blockchain is decentralized and does not have a single entity which controls the network.</p>
					</div>
				</div>
				<div class="services-2 w-100 d-flex">
					<div class="icon d-flex align-items-center justify-content-center  bg-warning"><span
							class="flaticon-accountant"></span></div>
					<div class="text pl-4">
						<a href="/blockchain_service/2"><h4>Private Blockchain</h4></a>
						<p>In a public blockchain, anyone can read and write on the ledger. But you can't alter it once it gets on the ledger.</p>
					</div>
				</div>
				<div class="services-2 w-100 d-flex">
					<div class="icon d-flex align-items-center justify-content-center bg-warning"><span
							class="flaticon-teamwork"></span></div>
					<div class="text pl-4">
						<a href="/blockchain_service/8"><h4>Decentralized Finance (DEFI)</h4></a>
						<p>DeFi, or decentralized finance, is a new way to execute financial transactions through applications.</p>
					</div>
				</div>
				<div class="services-2 w-100 d-flex">
					<div class="icon d-flex align-items-center justify-content-center bg-warning"><span
							class="flaticon-accounting"></span></div>
					<div class="text pl-4">
						<a href="/blockchain_service/12"><h4>Non Fungible Token (NFT)</h4></a>
						<p>A non-fungible token (NFT) is a unit of data stored on a digital ledger, called a blockchain.</p>
					</div>
				</div>
				<div class="services-2 w-100 d-flex">
					<div class="icon d-flex align-items-center justify-content-center bg-warning"><span
							class="flaticon-accounting"></span></div>
					<div class="text pl-4">
						<a href="/blockchain_service/3"><h4>Cardano Blockchain</h4></a>
						<p>Cardano is a proof-of-stake blockchain platform: the first to be founded on peer-​reviewed research and developed through evidence-based methods.</p>
					</div>
				</div>
				<div class="services-2 w-100 d-flex">
					<div class="icon d-flex align-items-center justify-content-center bg-warning"><span
							class="flaticon-accounting"></span></div>
					<div class="text pl-4">
						<a href="/services/"><h4>AR & VR</h4></a>
						<p>(VR) enables you to fully immerse yourself in a computer-simulated reality.(AR) on the other hand adds a virtual layer to the real world.</p>
					</div>
				</div>
				<div class="services-2 w-100 d-flex">
					<div class="icon d-flex align-items-center justify-content-center bg-warning"><span
							class="flaticon-accounting"></span></div>
					<div class="text pl-4">
						<a href="/services/"><h4>IOT</h4></a>
						<p>IoT devices contain sensors and mini-computer processors that act on the data collected by the sensors via machine learning.</p>
					</div>
				</div>
				<div class="services-2 w-100 d-flex">
					<div class="icon d-flex align-items-center justify-content-center bg-warning"><span
							class="flaticon-accounting"></span></div>
					<div class="text pl-4">
						<a href="/services/"><h4>Mobile app development</h4></a>
						<p>The Mobile app development process requires creating software that can be installed on the device.</p>
					</div>
				</div>
				<div class="services-2 w-100 d-flex">
					<div class="icon d-flex align-items-center justify-content-center bg-warning"><span
							class="flaticon-accounting"></span></div>
					<div class="text pl-4">
						<a href="/services/"><h4>Website development services</h4></a>
						<p>Web development is the work involved in developing a Web site for the Internet (​World Wide Web).</p>
					</div>
				</div>
				<div class="services-2 w-100 d-flex">
					<div class="icon d-flex align-items-center justify-content-center bg-warning"><span
							class="flaticon-accounting"></span></div>
					<div class="text pl-4">
						<a href="/services/"><h4>Software development services</h4></a>
						<p>Software development is the process programmers use to build computer programs.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="container font-weight-bolder text-center">
	<h1 class="font-weight-bold">Top Industries We Serve</h1>
	<p>INFOGRAINS HAS DEVELOPED MOBILE APPS FOR VARIETY OF MARKET INDUSTRIES INCLUDING HEALTHCARE, TRAVEL &
		TRANSPORTATION APPS AND MANY MORE.</p>
</div>
<div class="container my-5">
	<div class="row">
		<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
			<div class="card mx-auto border-0" style="width: 18rem;">
				<div class="card-body text-center">
					<i class="fa fa-shopping-bag fa-10x" style="font-size: 2.5em;"></i>
					<p class="card-text">Retail & Shopping</p>

				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
			<div class="card mx-auto border-0" style="width: 18rem;">
				<div class="card-body text-center">
					<i class="fa fa-university fa-10x" style="font-size: 3em;"></i>
					<p class="card-text">Banking, Finance & Insurance</p>

				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
			<div class="card mx-auto border-0" style="width: 18rem;">
				<div class="card-body text-center">
					<i class="fa fa-industry fa-10x" style="font-size: 3em;"></i>
					<p class="card-text">Industries & Manufacturing</p>

				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
			<div class="card mx-auto border-0" style="width: 18rem;">
				<div class="card-body text-center">
					<i class="fa fa-graduation-cap fa-10x" style="font-size: 3em;"></i>
					<p class="card-text">Education & Tutoring</p>

				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
			<div class="card mx-auto border-0" style="width: 18rem;">
				<div class="card-body text-center">
					<i class="fa fa-car fa-10x" style="font-size: 3em;"></i>
					<p class="card-text">Travel & Transportation</p>

				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
			<div class="card mx-auto border-0" style="width: 18rem;">
				<div class="card-body text-center">
					<i class="fa fa-life-ring fa-10x" style="font-size: 3em;"></i>
					<p class="card-text">Social Networking & Dating</p>

				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
			<div class="card mx-auto border-0" style="width: 18rem;">
				<div class="card-body text-center">
					<i class="fa fa-telegram fa-10x" style="font-size: 3em;"></i>
					<p class="card-text">Media & Advertising</p>

				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
			<div class="card mx-auto border-0" style="width: 18rem;">
				<div class="card-body text-center">
					<i class="fa fa-building fa-10x" style="font-size: 3em;"></i>
					<p class="card-text">Property & Real Estate</p>
				</div>
			</div>
		</div>
	</div>
</div>
<section class="ftco-counter mt-5 pt-5 bg-light ftco-no-pt" id="section-counter">
	<div class="container mt-5">
		<div class="row">
			<div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
				<div class="block-18 text-center">
					<div class="text">
						<strong class="number text-warning d-inline-block" data-number="8">0</strong>&nbsp;<span
							style="font-size: 50px ;" class=" text-warning font-weight-bold d-inline-block">+</span>
					</div>
					<div class="text">
						<span>Years of Experienced</span>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
				<div class="block-18 text-center">
					<div class="text">
						<strong class="number text-warning d-inline-block" data-number="250">0</strong>&nbsp;<span
							style="font-size: 50px ;" class="text-warning font-weight-bold d-inline-block">+</span>
					</div>
					<div class="text">
						<span>Happy Clients</span>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
				<div class="block-18 text-center">
					<div class="text">
						<strong class="number text-warning d-inline-block" data-number="20">0</strong>&nbsp;<span
							style="font-size: 50px ;" class="text-warning font-weight-bold d-inline-block">+</span>
					</div>
					<div class="text">
						<span>Awards Won</span>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
				<div class="block-18 text-center">
					<div class="text my-auto">
						<strong class="number text-warning d-inline-block" data-number="50">0</strong>&nbsp;<span
							style="font-size: 50px ;" class="text-warning font-weight-bold d-inline-block">+</span>
					</div>
					<div class="text">
						<span>Expert Consultant</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section testimony-section bg-dark">
	<div class="overlay"></div>
	<div class="container">
		<div class="row justify-content-center pb-5 mb-3">
			<div class="col-md-7 heading-section heading-section-white text-center ftco-animate">
				<span class="subheading">Testimonies</span>
				<h2>Happy Clients &amp; Feedbacks</h2>
			</div>
		</div>
		<div class="row ftco-animate">
			<div class="col-md-12">
				<div class="carousel-testimony owl-carousel ftco-owl">
					<div class="item">
						<div class="testimony-wrap py-4">
							<div class="icon bg-warning d-flex align-items-center justify-content-center"><span
									class="fa fa-quote-left"></span></div>
							<div class="text">
								<p class="mb-4">Absolutely the greatest Team on FreeLancer!! After trying out different
									freelancers for the last 3 years I really regret not having found point2solutions
									earlier. I am almost afraid to type all this because I want to keep this team for
									myself. This is now my go to team for all my projects!.</p>
								<div class="d-flex align-items-center">
									<div class="pl-3">
										<p class="name text-warning">- Thiban</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap py-4">
							<div class="icon bg-warning d-flex align-items-center justify-content-center"><span
									class="fa fa-quote-left"></span></div>
							<div class="text">
								<p class="mb-4">Arti and her team at Infograins are amazing to work with and provide
									excellent work. I have been working with them for many months now and they have been
									great since day one, and I plan on working with them more in the future as well as
									recommending other people to them.</p>
								<div class="d-flex align-items-center">
									<div class="pl-3">
										<p class="name text-warning">- Philip</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap py-4" style="min-height: 325px; max-height: 325px;">
							<div class="icon bg-warning d-flex align-items-center justify-content-center"><span
									class="fa fa-quote-left"></span></div>
							<div class="text">
								<p class="mb-4">Very Nice Team. Flexible. Assistance available 24/7. Accept Feedback
									with Positivity and Work Hard to deliver work. Focused on their client's needs.
								</p>
								<div class="d-flex mt-5 mb-5">
									<div class="pl-3 mt-3 mb-5">
										<p class="name mt-5 mb-3 text-warning">- Darlina</p>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>
<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center pb-5 mb-3">
			<div class="col-md-7 heading-section text-center ftco-animate">
				<span class="subheading text-warning">News &amp; Blog</span>
				<h2>Latest news from our blog</h2>
			</div>
		</div>
		<div class="row ">
			{% for i in blog %}
			<div class="col-xl-4 col-md-4 d-flex justify-content-center col-sm-12 col-12 my-2">
				<div class="card shadow" style="width: 18rem; height: 24em">
					<img src="{{i.blog_image.url}}" width="50%" height="50%" class="card-img-top rounded" alt="">
					<div class="card-body mb-0">
						<p class=" text-muted align-items-end mt-0" style="font-size: smaller;">{{i.blog_date}}</p>
						<a href="{% url 'blog' %}{{i.id}} ">
							<h5 class="card-title ">{{i.blog_title|slice:":40"}} <span
									class="font-weight-light text-danger" style="font-size: .7em;">&nbsp; (...more)
								</span></h5>
						</a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
<div class="head-container  text-center ">
	<div class="top-contact">
		<div class="container pb-3">
			<div class="row">
				<div class="col-sm-12">
					<ul class="list-inline">
						<li class="list-inline-item ">
							<strong>INDIA OFFICE</strong>
							<a href="tel:917314258071">+91 9713406272</a>
						</li>
						<li class="list-inline-item ">
							<strong>UK OFFICE</strong>
							<a href="tel:447375065272">+44 7375065272</a>
						</li>
						<li class="list-inline-item ">
							<strong>USA OFFICE</strong>
							<a href="tel:16093851240">+1 6093851240</a>
						</li>
						<li class="list-inline-item ">
							<strong>HONGKONG OFFICE</strong>
							<a href="tel:85297292835">+852 9729 2835</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid text-center my-5 ">
	<h1 class="font-weight-bolder" style="font-family: 'Roboto', sans-serif;"> WORKING WITH INTERNATIONAL CLIENTS</h1>
</div>
<div id="carouselExampleIndicators" class="carousel slide bg-light py-5 pl-5 mb-0 " data-ride="carousel"
	data-interval="2000">

	<div class="carousel-inner">
		<div class="carousel-item active">
			<div class="row">
				<div class="col-sm-4 col-4 col-xl-4 justify-content-end">
					<img class="img-fluid mx-auto d-block" src="{% static 'images/c_1.png' %}" alt="First slide">
				</div>
				<div class="col-sm-4 col-4 col-xl-4">
					<img class="img-fluid mx-auto d-block" src="{% static 'images/c_2.png' %}" alt="First slide">

				</div>
				<div class="col-sm-4 col-4 col-xl-4">
					<img class="img-fluid mx-auto d-block" src="{% static 'images/c_3.png' %}" alt="First slide">
				</div>
			</div>
		</div>
		<div class="carousel-item ">
			<div class="row">
				<div class="col-xs-2 col-4 col-xl-4">
					<img class="img-fluid mx-auto d-block" src="{% static 'images/c_4.png' %}" alt="First slide">
				</div>
				<div class="col-xs-2 col-4 col-xl-4">
					<img class="img-fluid mx-auto d-block" src="{% static 'images/c_10.png' %}" alt="First slide">

				</div>
				<div class="col-xs-2 col-4 col-xl-4">
					<img class="img-fluid mx-auto d-block" src="{% static 'images/c_6.png' %}" alt="First slide">
				</div>
			</div>
		</div>
	</div>

</div>
<div
	style="margin:30px 0 0;text-align: center;font-size: 16px;font-weight: bold;line-height: 30px;background: #ddd;padding: 5px 0;background: #ee7e2c;color: #fff;">
	<div class="container">
		<div class="row" style="margin-bottom:0;">
			<div class="col-sm-12">
				<div style="display:block;" itemscope="" itemtype="http://schema.org/Product">
					<img style="width:100px;margin-right:5px;"
						src="https://infograins.com/wp-content/uploads/2018/06/infograinssoftwaresolution.png" alt="">
					<span itemprop="name" style="display:none">Webnomysis</span>
					Overall Rating:
					<span itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
						<strong>
							<span class="value" itemprop="ratingValue">5.0</span>
						</strong> out of
						<strong>
							<span itemprop="bestRating"> 5 </span>
						</strong> based on
						<span class="votes" itemprop="reviewCount"> 103 </span> User Rating
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock index %}
