{% extends 'base.html' %}
{% block title %}About Us- Infograins{% endblock title %}

{% block aboutus %}
  
    <section class="testimonials_section">
        <div class="page_banner about_bg">
            <h2 class="page_heading text-center">about us</h2>
        </div>
        <div class="container">
           
            <div class="row">
                <div class="col-md-12">
                    <div class="blockchain_box_content p-5">
                        <div class="blockchain_heading text-center">
                            <!-- <h3 class="block_pg_heading">About Us
                                <span class="block_pg_desig"></span>
                            </h3> -->
                        </div>
                        <div class="blockchain_txt">
                           
                            
                            <p> Infograins Software Solutions Pvt Ltd was founded in the year 2013 by the founder, Mr. Ajay Shukla & Co-founder, Mr. Vipin Shukla in order to establish a new era of providing effective blockchain solutions to this entire world with goal-oriented decentralized concepts. Now, this organization has been one of the top blockchain development companies by delivering several blockchain projects successfully with the dedicated team of more than 80 blockchain experts. We have a long list of our fully satisfied clients across the world.</p>
                        
                            <p>We believe in providing rapid and efficient IT solutions to assist you in effectively scaling up your organisation. We believe in long-term relationships, and each of our clients has been with us from the beginning to the end. We are always here to assist you, whether you have an idea or want to validate one. Our ready-to-use solutions are reliable but easy to use, with quick response times. You don't have to be concerned about technology because the systems have already been tested and used by multiple clients.</p>
                            
                            <p>Infograins software solution Pvt. Ltd. is a renowned Blockchain development firm based in Central India (Indore). We produce high-quality solutions that provide security for large-scale organisations and startups. We have a well-trained and experienced team of specialists with significant Blockchain development experience. Cryptocurrency, DEFI, NFT, FT, Cardano Blockchain, Solana, Ethereum, Smart Contracts, and other Blockchain-based software solutions are provided by Infograins. We've effectively applied Blockchain in industries like as retail, agriculture, supply chain, diamonds, education, finance, and insurance, where we have developed DEFI, Dapps, Smart contracts, ICO, STO tokens, coins regeneration, whitepapers, and many more.</p>
                            
                            <p>Also we are offering these services: Web design & development, mobile app design & development (android & ios), AR & VR , IOT, E-commerce development, UI/UX Designing, Digital Marketing, etc. When it comes to software and mobile app development, we take a quality-first approach.</p>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <h4><strong>3 Mantras of Our Success</strong> </h4>

                                    <p><strong>(1) Dedicated Employees & Co-Operative Employers -</strong> Behind every successful organization, there are mutual efforts of employer and employees, who make it possible through their hard work and smart concepts and their co-operation.</p>
                                    
                                    <p><strong>(2) Flexible Environment -</strong> Here employees have very flexible and learning environment to work, learn & grow, that's why employees stayed over here from years and completed their career's long journey with infograins.</p>
                                
                                    <p><strong>(3) Happy Clients -</strong> Our happy and satisfied clients are our strength and that makes us unstoppable and will continue adding more and more clients in our list and satisfy them fully with our services.</p>
                                </div>
                                <div class="col-md-6">
                                    <div class="about_img">
                                        <img src="https://www.insuredmine.com/wp-content/uploads/2021/07/undraw_winners_ao2o-1.png" class="img-fluid" alt="">
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
    </section>
   
    {% endblock aboutus %}