{% extends 'base.html' %}
{% block blogactivation %}active{% endblock blogactivation %}
{% block title %}Infograins | {{ blog.blog_title }} {% endblock title %}
{% block blog_single %}
  <!-- inner page banner start here -->
  {% if blog %}
    <section class="banner_section">
        <div class="banner_img">
            <img src="/static/assets/images/inner_banner.jpg" alt="" class="img-fluid">
        </div>
        <div class="container">
            <div class="banner_txt">
                <h2 class="mb-0">{{blog.blog_title}}</h2>
            </div>
        </div>
    </section>
    <!-- inner page banner close here -->

    <!-- product page content start here -->
    <section class="service_categry_page">
        <div class="container">
            <div class="srv_categry_content">
                <p>{{blog.blog_para|safe}}</p>
            </div>
        </div>
    </section>
    {% endif %}
{% endblock blog_single %}
