           
               Name    :-{{i.first_name}} {{i.last_name}}

               Email   :-{{i.email}}

               Contact :-{{i.contact}}

               Address :-{{i.address}}
               
               ------------------------------------
               heard abous us from :- {{i.source}}

              
               {{i.specify}}
               ------------------------------------

               Franchise location  :- {{i.city}} {{i.state}}
               ------------------------------------

               {{i.notes}}