


                        
                        APPLY FOR - {{i.position_applying_for}}    

                        I am {{i.first_name}} {{i.last_name}}
        
                            Email   :-{{i.email}}
        
                            Contact :-{{i.contact}}
        
                            Address :-{{i.address}}
        
                            ------------------------------------
                           I heard about you from :- {{i.source}}
        
        
                            {{i.specify}}
                            ------------------------------------
        
                           Resume - {{i.resume}} 
                            ------------------------------