{% extends 'base.html' %}
{% block sitemapactivation %}active{% endblock sitemapactivation %}
{% block title %}Infograins |  sitemap{% endblock title %}
{% block sitemap %}
  
<body>

    <section class="site_map mb-4">
        <div class="image-container">
            <img src="/static/assets/images/site-map.jpg" class="img-fluid" alt="" style="    width: 100%;height: 400px;object-fit: cover;">
            <div class="after"></div>
        </div>
        <div class="container">
          <div class="row">
                <div class="col-lg-6">
                    <div class="card  red_bg">
                        <div class="card-header">
                            BlockChain Services
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mb-0">
                                <li><a href="https://infograins.com/blockchain-services/public-blockchain-development"  class="text-decoration-none text-dark">Public Blockchain Development</a></li>
                                <li><a href="https://infograins.com/blockchain-services/private-blockchain-development"  class="text-decoration-none text-dark">Private Blockchain Development</a></li>
                                <li><a href="https://infograins.com/blockchain-services/consortium-blockchain"  class="text-decoration-none text-dark">Consortium Blockchain</a></li>
                                <li><a href="https://infograins.com/blockchain-services/hybrid-blockchain"  class="text-decoration-none text-dark">Hybrid blockchain</a></li>
                                <li><a href="https://infograins.com/blockchain-services/ico-sto-ido"  class="text-decoration-none text-dark">ICO, STO, IDO</a></li>
                                <li><a href="https://infograins.com/blockchain-services/smart-contracts"  class="text-decoration-none text-dark">Smart contracts</a></li>
                                <li><a href="https://infograins.com/blockchain-services/dapps"  class="text-decoration-none text-dark">Dapps</a></li>
                                <li><a href="https://infograins.com/blockchain-services/defi"  class="text-decoration-none text-dark">defi</a></li>
                                <li><a href="https://infograins.com/blockchain-services/smart-contract-audit"  class="text-decoration-none text-dark">Smart contract Audit</a></li>
                                <li><a href="https://infograins.com/blockchain-services/fungible-tokens"  class="text-decoration-none text-dark">Fungible Tokens</a></li>
                                <li><a href="https://infograins.com/blockchain-services/asset-based-tokens"  class="text-decoration-none text-dark">Asset based tokens</a></li>
                                <li><a href="https://infograins.com/blockchain-services/non-fungible-tokens"  class="text-decoration-none text-dark">Non fungible Tokens</a></li>
                                <li><a href="https://infograins.com/blockchain-services/use-cases"  class="text-decoration-none text-dark">Use cases</a></li>
                                <li><a href="https://infograins.com/blockchain-services/blockchain-consultancy"  class="text-decoration-none text-dark">Blockchain Consultancy</a></li>
                                <li><a href="https://infograins.com/blockchain-services/blockchain-development-services"  class="text-decoration-none text-dark">Blockchain Development Services</a></li>
                                <li><a href="https://infograins.com/blockchain-services/poc-development"  class="text-decoration-none text-dark">POC Development</a></li>
                                <li><a href="https://infograins.com/blockchain-services/blockchain-wallet-development"  class="text-decoration-none text-dark">Blockchain Wallet Development</a></li>
                                <li><a href="https://infograins.com/blockchain-services/multichain-supply-chain-development"  class="text-decoration-none text-dark">Supply chain Development</a></li>
                                <li><a href="https://infograins.com/blockchain-services/polkadot-and-cardano"  class="text-decoration-none text-dark">Polkadot and Cardano</a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="card">
                        <div class="card-header">
                            Services
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mb-0">
                                <li><a href="https://infograins.com/services/node-js-development"  class="text-decoration-none text-dark">Node JS Development</a></li>
                                <li><a href="https://infograins.com/services/php-website-development"  class="text-decoration-none text-dark">PHP Website Development</a></li>
                                <li><a href="https://infograins.com/services/cakephp-development"  class="text-decoration-none text-dark">CakePHP Development</a></li>
                                <li><a href="https://infograins.com/services/wordpress-development"  class="text-decoration-none text-dark">WordPress Development</a></li>
                                <li><a href="https://infograins.com/services/angular-js-development"  class="text-decoration-none text-dark">Angular JS Development</a></li>
                                <li><a href="https://infograins.com/services/drupal-development"  class="text-decoration-none text-dark">Drupal Development</a></li>
                                <li><a href="https://infograins.com/services/joomla-development"  class="text-decoration-none text-dark">Joomla Development</a></li>
                                <li><a href="https://infograins.com/services/laravel-development"  class="text-decoration-none text-dark">Laravel Development</a></li>
                                <li><a href="https://infograins.com/services/codeigniter-development"  class="text-decoration-none text-dark">Codeigniter Development</a></li>
                                <li><a href="https://infograins.com/services/net-development"  class="text-decoration-none text-dark">.Net Development</a></li>
                                <li><a href="https://infograins.com/services/python-django-development"  class="text-decoration-none text-dark">Python Django Development</a></li>
                            </ul>
                        </div>
                    </div>
                    
                     <div class="card">
                        <div class="card-header">
                            Resources
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mb-0">
                                <li><a href="https://infograins.com/resources/how-can-we-help"  class="text-decoration-none text-dark">How Can We Help</a></li>
                                <li><a href="https://infograins.com/resources/grow-your-business-idea"  class="text-decoration-none text-dark">Grow Your Business Idea</a></li>
                                <li><a href="https://infograins.com/resources/business-communications"  class="text-decoration-none text-dark">Business Communications</a></li>
                                <li><a href="https://infograins.com/resources/quality-assurance"  class="text-decoration-none text-dark">Quality Assurance</a></li>
                                <li><a href="https://infograins.com/resources/our-work-process"  class="text-decoration-none text-dark">Our Work Process</a></li>
                             </ul>
                        </div>
                    </div>
                    
                     <div class="card">
                        
                            <div class="card-body">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="https://infograins.com/career/"  class="text-decoration-none text-dark">Career</a></li>

                        </ul>
                    </div>
                        
                        <!-- <div class="card-body">
                            <ul class="list-unstyled mb-0">
                                <li><a href="https://infograins.com/career/"  class="text-decoration-none text-dark">Business Development Executive</a></li>
                                <li><a href="https://infograins.com/career/"  class="text-decoration-none text-dark">IOS Developer</a></li>
                                <li><a href="https://infograins.com/career/"  class="text-decoration-none text-dark">PHP & Laravel Developer</a></li>
                                <li><a href="https://infograins.com/career/"  class="text-decoration-none text-dark">Android Developer</a></li>
                                <li><a href="https://infograins.com/career/"  class="text-decoration-none text-dark">Human Resource Executive</a></li>
                             </ul>
                        </div> -->
                    </div>

                    <div class="card">
                        <div class="card-header">
                            E-Commerce Development
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mb-0">
                                <li><a href="https://infograins.com/services/magento-development"  class="text-decoration-none text-dark">Magento Development</a></li>
                                <li><a href="https://infograins.com/services/woocommerce-development"  class="text-decoration-none text-dark">Woocommerce Development</a></li>
                                <li><a href="https://infograins.com/services/ecommerce-website-design"  class="text-decoration-none text-dark">Ecommerce Website Design</a></li>
                                <li><a href="https://infograins.com/services/bigcommerce-development"  class="text-decoration-none text-dark">Bigcommerce Development</a></li>
                                <li><a href="https://infograins.com/services/shopping-cart-solutions"  class="text-decoration-none text-dark">Shopping Cart Solutions</a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="card">
                        <div class="card-header">
                            Mobile App Development
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mb-0">
                                <li><a href="https://infograins.com/services/iphone-app-development"  class="text-decoration-none text-dark">IPhone App Development</a></li>
                                <li><a href="https://infograins.com/services/android-app-development"  class="text-decoration-none text-dark">Android App Development</a></li>
                                <li><a href="https://infograins.com/services/ionic-framework-development"  class="text-decoration-none text-dark">Ionic Framework Development</a></li>
                                <li><a href="https://infograins.com/services/native-mobile-app-development"  class="text-decoration-none text-dark">Native Mobile App Development</a></li>
                                <li><a href="https://infograins.com/services/hybrid-mobile-app-development"  class="text-decoration-none text-dark">Hybrid Mobile App Development</a></li>
                                <li><a href="https://infograins.com/services/phonegap-app-development"  class="text-decoration-none text-dark">Phonegap App Development</a></li>
                             </ul>
                        </div>
                    </div>
                    
                      <div class="card">
                        <div class="card-header">
                            Branding & Marketing
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mb-0">
                                <li><a href="https://infograins.com/services/search-engine-optimization"  class="text-decoration-none text-dark">Search Engine Optimization</a></li>
                                <li><a href="https://infograins.com/services/ppc-management-services"  class="text-decoration-none text-dark">PPC Management Services</a></li>
                                <li><a href="https://infograins.com/services/social-media-marketing"  class="text-decoration-none text-dark">Social Media Marketing</a></li>
                                <li><a href="https://infograins.com/services/search-engine-marketing"  class="text-decoration-none text-dark">Search Engine Marketing</a></li>
                             </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                      <div class="card">
                        <div class="card-header">
                            Products
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mb-0">
                                <li><a href="https://infograins.com/products/uber-like-app-for-taxi"  class="text-decoration-none text-dark">Taxi Booking App</a></li>
                                <li><a href="https://infograins.com/products/tinder-clone"  class="text-decoration-none text-dark">Dating App</a></li>
                                <li><a href="https://infograins.com/products/crowdfunding-script"  class="text-decoration-none text-dark">Fundraising App</a></li>
                                <li><a href="https://infograins.com/products/9gag-tv-clone"  class="text-decoration-none text-dark">Entertainment App</a></li>
                                <li><a href="https://infograins.com/products/udemy"  class="text-decoration-none text-dark">Education App</a></li>
                                <li><a href="https://infograins.com/products/multi-vendor-e-commerce-script-development"  class="text-decoration-none text-dark">E-Commerce App</a></li>
                                <li><a href="https://infograins.com/products/airbnb-clone"  class="text-decoration-none text-dark">Rental App</a></li>
                                <li><a href="https://infograins.com/products/makemytrip-clone"  class="text-decoration-none text-dark">Travel Management Software</a></li>
                                <li><a href="https://infograins.com/products/uber-like-app-for-mechanics"  class="text-decoration-none text-dark">On-Demand App</a></li>
                                <li><a href="https://infograins.com/products/grofers-clone"  class="text-decoration-none text-dark">Grocery Delivery App</a></li>
                                <li><a href="https://infograins.com/products/zomato-clone"  class="text-decoration-none text-dark">Food Delivery App</a></li>
                                <li><a href="https://infograins.com/products/lynk-clone"  class="text-decoration-none text-dark">Logistics App</a></li>
                                <li><a href="https://infograins.com/products/zillow-clone"  class="text-decoration-none text-dark">Real-Estate App</a></li>
                                <li><a href="https://infograins.com/products/makemytrip-clone"  class="text-decoration-none text-dark">Travel App</a></li>
                                <li><a href="https://infograins.com/products/zocdoc-clone"  class="text-decoration-none text-dark">Doctor App</a></li>
                                <li><a href="https://infograins.com/products/limebike-clone"  class="text-decoration-none text-dark">Ridesharing App</a></li>
                                <li><a href="https://bharattoken.org/"  class="text-decoration-none text-dark">Bharat NFT</a></li>

                            </ul>
                        </div>
                    </div>
                    
                    <!-- <div class="card">
                        <div class="card-header">
                            Industries
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mb-0">
                                <li><a href="https://infograins.com/products/multi-vendor-e-commerce-script-development"  class="text-decoration-none text-dark">Retail & Shopping</a></li>
                                <li><a href=""  class="text-decoration-none text-dark">Banking, Finance & Insurance</a></li>
                                <li><a href=""  class="text-decoration-none text-dark">Industries & Manufacturing</a></li>
                                <li><a href=""  class="text-decoration-none text-dark">Education & Tutoring</a></li>
                                <li><a href=""  class="text-decoration-none text-dark">Travel & Transportation</a></li>
                                <li><a href=""  class="text-decoration-none text-dark">Social Networking & Dating</a></li>
                                <li><a href=""  class="text-decoration-none text-dark">Media & Advertising</a></li>
                                <li><a href=""  class="text-decoration-none text-dark">Property & Real Estate</a></li>
                            </ul>
                        </div>
                    </div> -->
                    
                    <!-- <div class="card">
                        <div class="card-header">
                            Web And CMS Development
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#"  class="text-decoration-none text-dark">Node JS Development</a></li>
                                <li><a href="#"  class="text-decoration-none text-dark">PHP Website Development</a></li>
                                <li><a href="#"  class="text-decoration-none text-dark">CakePHP Development</a></li>
                                <li><a href="#"  class="text-decoration-none text-dark">WordPress Development</a></li>
                                <li><a href="#"  class="text-decoration-none text-dark">Angular JS Development</a></li>
                                <li><a href="#"  class="text-decoration-none text-dark">Drupal Development</a></li>
                                <li><a href="#"  class="text-decoration-none text-dark">Joomla Development</a></li>
                                <li><a href="#"  class="text-decoration-none text-dark">Laravel Development</a></li>
                                <li><a href="#"  class="text-decoration-none text-dark">Codeigniter Development</a></li>
                                <li><a href="#"  class="text-decoration-none text-dark">.Net Development</a></li>
                                <li><a href="#"  class="text-decoration-none text-dark">Python Django Development</a></li>
                            </ul>
                        </div>
                    </div> -->

                    <div class="card">
                        <div class="card-header">
                            Application Maintenance
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mb-0">
                                <li><a href="https://infograins.com/services/service-api"  class="text-decoration-none text-dark">Service API</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            Hire Dedicated Developers
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mb-0">
                                <li><a href="https://infograins.com/services/hire-ionic-developers"  class="text-decoration-none text-dark">Hire Ionic Developers</a></li>
                                <li><a href="https://infograins.com/services/hire-mobile-app-developers"  class="text-decoration-none text-dark">Hire Mobile App Developers</a></li>
                                <li><a href="https://infograins.com/services/hire-iphone-app-developers"  class="text-decoration-none text-dark">Hire IPhone App Developers</a></li>
                                <li><a href="https://infograins.com/services/hire-magento-developers"  class="text-decoration-none text-dark">Hire Magento Developers</a></li>
                                <li><a href="https://infograins.com/services/hire-php-developers"  class="text-decoration-none text-dark">Hire PHP Developers</a></li>
                                <li><a href="https://infograins.com/services/hire-joomla-developers"  class="text-decoration-none text-dark">Hire Joomla Developers</a></li>
                                <li><a href="https://infograins.com/services/hire-wordpress-developers"  class="text-decoration-none text-dark">Hire WordPress Developers</a></li>
                             </ul>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            Web Design & Markup
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mb-0">
                                <li><a href="https://infograins.com/services/html5-development"  class="text-decoration-none text-dark">HTML5 Development</a></li>
                                <li><a href="https://infograins.com/services/graphic-design"  class="text-decoration-none text-dark">Graphic Design</a></li>
                                <li><a href="https://infograins.com/services/logo-designing"  class="text-decoration-none text-dark">Logo Designing</a></li>
                                <li><a href="https://infograins.com/services/website-redesigning"  class="text-decoration-none text-dark">Website Redesigning</a></li>
                                <li><a href="https://infograins.com/services/responsive-web-design"  class="text-decoration-none text-dark">Responsive Web Design</a></li>
                                <li><a href="https://infograins.com/services/template-design"  class="text-decoration-none text-dark">Template Design</a></li>
                             </ul>

                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            Technology
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mb-0">
                                <li><a href="https://infograins.com/blockchain-services/"  class="text-decoration-none text-dark">BlockChain Services</a></li>
                                <li><a href="https://infograins.com/services/big-data-analytics"  class="text-decoration-none text-dark">Big Data Analytics</a></li>
                                <li><a href="https://infograins.com/services/apache-hadoop"  class="text-decoration-none text-dark">Apache Hadoop</a></li>
                                <li><a href="https://infograins.com/services/internet-of-things"  class="text-decoration-none text-dark">Internet Of Things</a></li>
                                <li><a href="https://infograins.com/services/ruby-on-rails-development"  class="text-decoration-none text-dark">Ruby On Rails Development</a></li>
                                <li><a href="https://infograins.com/services/testing-qa-services"  class="text-decoration-none text-dark">Testing & QA Services</a></li>
                            </ul>
                        </div>
                    </div>
                   </div>
            </div>
        </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


</body>

</html>

{% endblock sitemap %}


