{% extends 'base.html' %}
{% block title %}Infograins | Team{% endblock title %}
{% block testimonials %}
    <!-- Testimonials section start here -->
    <section class="testimonials_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="testimonial-card">
                       <div class="testmnl_footer">
                            <div>
                                <img src="/static/assets/images/rahul1.jpg" class="img-fluid"> 
                            </div>
                            <div class="team-detail">
                                <h3 class="test_person">Rahul Jain</h3>
                                <h6 class="test_profl">Project Manager</h6>
                                <p class="text-white">Project Mananger with 5 years of experience.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="testimonial-card">
                        <div class="test_text">
                            Android Developer with 6 years of experience.
                            <i class="fas fa-quote-right test_quote"></i>
                        </div>
                        <div class="testmnl_footer">
                            <div class="test_image">
                                <img src="/static/assets/images/sohan.jpg" class="img-fluid" style="border-radius: 50%;">
                            </div>
                            <h3 class="test_person">Sohan Patidar</h3>
                            <h6 class="test_profl">Sr. Android Developer</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="testimonial-card">
                        <div class="test_text">
                            Php Developer with 4 years of experience.

                            <i class="fas fa-quote-right test_quote"></i>
                        </div>
                        <div class="testmnl_footer">
                            <div class="test_image">
                                <img src="/static/assets/images/apeksha.jpg" class="img-fluid" style="border-radius: 50%;">
                            </div>
                            <h3 class="test_person">Apeksha Mazumdar</h3>
                            <h6 class="test_profl">Sr. Php Developer</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="testimonial-card">
                        <div class="test_text">
                            Node Js Developer with 4 years of experience.

                            <i class="fas fa-quote-right test_quote"></i>
                        </div>
                        <div class="testmnl_footer">
                            <div class="test_image">
                                <img src="/static/assets/images/nadeem.jpg" class="img-fluid" style="border-radius: 50%;">
                            </div>
                            <h3 class="test_person">Nadeem Beg</h3>
                            <h6 class="test_profl">Sr. Node Js Developer</h6>
                        </div>
                    </div>
                </div>
                
              
            </div>
        </div>
    </section>
    <!-- Testimonials section close here -->
    {% endblock testimonials %}