{% extends 'base.html' %}
{% block title %}Infograins | Testimonial {% endblock title %}

{% block testimonials %}

<section class="carousel_Slider">
    <div class="px-4">
        <div class="page_heading">
            <p>TESTIMONIES</p>
            <h3>Happy Clients & Feedbacks</h3>
        </div>
        <br>
        <div class="container">
            <div class="row my-4">
                <div class="col-lg-3 col-md-6">
                    <div class="client_section">
                        <div class="icon">
                            <i class="fas fa-quote-left"></i>
                        </div>

                        <div class="client_text">
                            <p>Infograins is one of the leading offshore software development company routed from
                                Portland, Oregon USA and having its delivery center in Indore, India.</p>
                        </div>
                        <div class="client-name">
                            <h5>Darlina</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="client_section">
                        <div class="icon">
                            <i class="fas fa-quote-left"></i>
                        </div>

                        <div class="client_text">
                            <p>Absolutely the greatest Team on FreeLancer!! After trying out different
                                freelancers for the last 3 years I really regret not having found point2solutions
                                earlier. I am almost afraid to type all this because I want to keep this team for
                                myself. This is now my go to team for all my projects!.</p>
                        </div>
                        <div class="client-name">
                            <h5>Thiban</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="client_section">
                        <div class="icon">
                            <i class="fas fa-quote-left"></i>
                        </div>

                        <div class="client_text">
                            <p>Arti and her team at Infograins are amazing to work with and provide
                                excellent work. I have been working with them for many months now and they have been
                                great since day one, and I plan on working with them more in the future as well as
                                recommending other people to them.</p>
                        </div>
                        <div class="client-name">
                            <h5>Philip</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="client_section">
                        <div class="icon">
                            <i class="fas fa-quote-left"></i>
                        </div>

                        <div class="client_text">
                            <p>The freelancer was great, he listened to all our problems and help us find a solution
                                that works best for everyone. I would definitely work with him again!</p>
                        </div>
                        <div class="client-name">
                            <h5>Raymond N.</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="client_section">
                        <div class="icon">
                            <i class="fas fa-quote-left"></i>
                        </div>

                        <div class="client_text">
                            <p>They have a great and responsive team, They help you with new ideas and provide good
                                advice for the project I am always happy to work with them in the future and in new
                                projects</p>
                        </div>
                        <div class="client-name">
                            <h5>Dawood J</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="client_section">
                        <div class="icon">
                            <i class="fas fa-quote-left"></i>
                        </div>

                        <div class="client_text">
                            <p>They are a team very kind and professionals with news ideas and very patient with us
                                because we don't know about technology . I appreciate a lot the hard work that they
                                did and it is posible that we work in a future projects. Thanks</p>
                        </div>
                        <div class="client-name">
                            <h5>Marisol S</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="client_section">
                        <div class="icon">
                            <i class="fas fa-quote-left"></i>
                        </div>

                        <div class="client_text">
                            <p>Working with the team at Infograins was an overall good experience. They are very
                                knowledgeable and professional. Their app design skills are awesome! They are
                                willing to correct their mistakes until the work is satisfactory. They sometimes
                                underestimate the completion time, but if you are willing to wait they can do
                                amazing work.</p>
                        </div>
                        <div class="client-name">
                            <h5>Ryan M</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <button type="button" class="btn popup-btn" data-bs-toggle="modal" data-bs-target="#client1">
                        <img src="/static/assets/images/client1.jpg" alt="" class="img-fluid">
                        <div class="overlay_icon">
                            <img src="/static/assets/images/youtube.png" alt="">
                        </div>
                    </button>
                    <!-- Modal -->
                    <div class="modal fade popup_video" id="client1" tabindex="-1" aria-labelledby="client1Label"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <button type="button" class="btn-close popup_video_close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                                <div class="modal-body">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/sSRUEIsEsew"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <button type="button" class="btn popup-btn" data-bs-toggle="modal" data-bs-target="#client2">
                        <img src="/static/assets/images/client2.jpg" alt="" class="img-fluid">
                        <div class="overlay_icon">
                            <img src="/static/assets/images/youtube.png" alt="">
                        </div>
                    </button>

                    <!-- Modal -->
                    <div class="modal fade popup_video" id="client2" tabindex="-1" aria-labelledby="client2Label"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <button type="button" class="btn-close popup_video_close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                                <div class="modal-body">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/7TP8BEFXS_o"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <button type="button" class="btn popup-btn" data-bs-toggle="modal" data-bs-target="#client3">
                        <img src="/static/assets/images/client3.jpg" alt="" class="img-fluid">
                        <div class="overlay_icon">
                            <img src="/static/assets/images/youtube.png" alt="">
                        </div>
                    </button>

                    <!-- Modal -->
                    <div class="modal fade popup_video" id="client3" tabindex="-1" aria-labelledby="client3Label"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <button type="button" class="btn-close popup_video_close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                                <div class="modal-body">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/YS1E6ob2qIU"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <button type="button" class="btn popup-btn" data-bs-toggle="modal" data-bs-target="#client4">
                        <img src="/static/assets/images/client4.jpg" alt="" class="img-fluid">
                        <div class="overlay_icon">
                            <img src="/static/assets/images/youtube.png" alt="">
                        </div>
                    </button>

                    <!-- Modal -->
                    <div class="modal fade popup_video" id="client4" tabindex="-1" aria-labelledby="client4Label"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <button type="button" class="btn-close popup_video_close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                                <div class="modal-body">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/dJvuZdqNqfo"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <br>
        <br>






    </div>
</section>



{% endblock testimonials %}