{% extends 'base.html' %}
{% block workflow %}
    <!-- inner page banner start here -->
    <section class="banner_section">
        <div class="banner_img">
            <img src="/static/assets/images/inner_banner.jpg" alt="" class="img-fluid">
        </div>
        <div class="container">
            <div class="banner_txt">
                <h2 class="mb-0">Our Work Process</h2>
            </div>
        </div>
    </section>
    <!-- inner page banner close here -->

    <!-- How help section start here -->
    <section class="how_help_section">
        <div class="container">
        </div>
    </section>
    <!-- How help section close here -->
    {% endblock workflow %}
